#navbar {
    color:black;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
 }
 #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 25% 75%;
}
